.ContainerPayment{
    background-color: rgb(228, 227, 227);
    margin: 22px;
    border-radius: 20px;
    box-shadow: 3px 4px 12px rgb(0, 0 ,0,25%);
    display: flex;
    flex-direction: column;
    width: 25%;
    height: fit-content;
}

.ContainerPayment h1{
    background-color: black;
    color:white;
    margin:0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 27px;
}

.ContainerPayment hr{
    height: 10px;
    background-color: rgb(32, 32, 32);
    writing-mode: vertical-rl;
    margin:5px;
}
.ContainerPayment h2{
    display: flex;
    justify-content: space-between;
    margin: 7px 50px 0px 50px;
    }

.ContainerPayment h2 span{
color: green;
}

.ContainerPayment h3{
    margin:5px;
    }

.ContainerPayment button{
    color: white;
    background-color: rgb(29, 121, 29);
    box-shadow: 3px 4px 12px rgb(0 0 0 / 25%);
    cursor: pointer;
    margin: inherit;
    padding: 20px;
    font-size: 25px;
    border-radius: 20px;
    border: 2px solid rgb(29, 121, 29);
    width: 224px;
    align-self: center;

}

/* .ContainerPayment button:hover{
    background-color: white;
    color: rgb(29, 121, 29);
    box-shadow: 3px 4px 12px rgb(0 0 0 / 25%);
    cursor: pointer;
    margin: inherit;
    padding: 20px;
    font-size: 30px;
    border-radius: 20px;
    border: 2px solid rgb(29, 121, 29);
} */

.ContainerPayment button a{
    color: white;
}
.ContainerPayment button a:hover{
color: rgb(29, 121, 29);
font-weight: bolder;
}

.ContainerPayment input{
    display: flex;
    align-self: center;
    border-radius: 10px;
    font-size: initial;
    text-align: center;
}

.ContainerPayment p {
    color:red;
}
.ContainerPayment p span {
    color:green;
    font-weight: bolder;
    font-size:20px ;
}

