.ContainerSearch{
    /* height: 50px; */
    width: auto;
    display: flex;
    align-items: end;
    /* flex: auto; */
    /* margin-top:30px; */
}

.Search{
    width: 25vw;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border:3px solid white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 5.5px;
    
}

.butonSearch{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #fff;
    color: #fff;
    background-color: #4e7d48;
    padding: 7px;

}

.Lup{
    width: 18px;
    height: 18px;
}


.ulNav, ol {
    list-style:none;
}


.headerNavList {
    margin:auto;
    width:500px;
}

.OptionsNav > li {
    float:left;
}

.OptionsNav li a {
    background-color:#000;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    position:absolute;
    min-width:140px;
    display:none;
}

.OptionsNav li a:hover {
    display:block;
    position: absolute;
}

.OptionsNav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.ulNav :hover > ul {
    display:block;
}

.ulNav .mainNav ul li {
    position:relative;
}

.ulNav .mainNav ul li ul {
    right:-140px;
    top:0px;
}

/* span.userName{
    background-color: #0000 !important;
    color: white !important;
    display:flex !important;
    align-items: center !important;
    margin-left: -11px;
    }

span.userName:hover{
    background-color: #0000 !important;
    color: white !important;
} */